@model BizBook.Models.BusinessProfile

@{
    ViewData["Title"] = "Edit";
}


<h2>Edit</h2>

<h4>BusinessProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BusinessID" />
            <div class="form-group">
                <label asp-for="BusinessName" class="control-label"></label>
                <input asp-for="BusinessName" class="form-control" />
                <span asp-validation-for="BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessType" class="control-label"></label>
                <input asp-for="BusinessType" class="form-control" />
                <span asp-validation-for="BusinessType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityStateZip" class="control-label"></label>
                <input asp-for="CityStateZip" class="form-control" />
                <span asp-validation-for="CityStateZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessBio" class="control-label"></label>
                <input asp-for="BusinessBio" class="form-control" />
                <span asp-validation-for="BusinessBio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Promotions" class="control-label"></label>
                <input asp-for="Promotions" class="form-control" />
                <span asp-validation-for="Promotions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
